<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">email</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">Linkedin</a>
    </li>
    {% endif %}

    {% if sidebar.pubmed %}
    <li class="pubmed"><i class="ai ai-pubmed ai-2x"></i>
      <a href="https://www.ncbi.nlm.nih.gov/myncbi/{{ sidebar.pubmed }}/bibliography/public/" target="_blank">Pubmed</a>
    </li>
    {% endif %}

    {% if sidebar.pdf %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf }}" target="_blank">Resume (PDF)</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
