{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.pubmed %}
      <li><a href="https://briansantich.com/pdf/{{ publication.pubmed }}.pdf"><i class="fas fa-file-pdf"></i></a> <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ publication.pubmed }}">{{ publication.title }}</a></li>
    {% else %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% endif %}
    <div class="publication-authors">{{ publication.authors | markdownify }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
{% endif %}
